
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://unpkg.com');

body {
    background: #0d0c0c;
    background: linear-gradient(45deg, rgb(3, 0, 19) 0%, rgb(0, 29, 38) 100%);
    font-family: "JetBrainsMono Nerd Font", monospace;
    margin: 0;
    color: white;
    min-height: 100vh;
}

.page-header {
    text-align: center;
    font-size: 5em;
    margin: 0.5em 0;
}

.body-text {
    font-size: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5em;
    background-color: rgba(100,100,100, 0.2);
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin: 15px auto;
    padding: 0 15px;
    border: 2px solid black;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.window {
    background-color: rgba(100,100,100, 0.2);
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    margin: 15px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.nav-item {
    height: 100%;
    width: 150px;
    text-decoration: none;
    color: blue;
}

.nav-item:hover {
    text-decoration: underline;
}

.nav-item div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    max-width: 100%;
}

:root {
    --bg-color-1: rgb(11, 11, 11);
    --bg-color-2: rgb(100,100,100);
    --accent-color-1: rgb(50,50,50);
}

a {
    color: white;
}

a.tradlink {
    text-decoration: none;
    border-bottom: 2px dotted;
    padding-bottom: 1px; 
}

a:hover {
    color: #AAAAAA; /* whatchu yelling for??? */
}

.line {
    display: flex;
    flex-wrap: wrap;
}

.line p {
    margin: 0;
    min-width: 0;
    overflow-wrap: anywhere;
}

.red {
    color: rgb(255, 78, 78);
}

.yellow {
    color: rgb(231, 255, 96);
}